<section class="mb-4">
  <header class="text-center">
    <h3 class="text-muted">
      Faça o seu cadastro
    </h3>
  </header>
</section>
  
<form 
  [formGroup]="formCadastro">
  <fieldset>
    <!-- email -->
    <div class="form-group">
      <label for="email">Digite o seu e-mail para cadastro:</label>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white">
              <i class="fa fa-envelope" aria-hidden="true"></i>
          </span>
        </div>
        <input 
          type="email" 
          class="form-control" 
          name="email"
          id="email" 
          placeholder="Digite o seu email aqui"
          formControlName="email">
      </div>

      <!-- mensagens validação email -->
      <app-form-message-validate
        *ngIf="formCadastro.get('email').errors?.required" 
        text="E-mail obrigatório">
      </app-form-message-validate>

      <app-form-message-validate
        *ngIf="formCadastro.get('email').errors?.email" 
        text="E-mail inválido, exemplo email@email.com">  
      </app-form-message-validate>
    </div>

    <!-- nome completo -->
    <div class="form-group">
      <label for="fullName">Digite o seu nome completo para cadastro:</label>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
          </span>
        </div>
        <input 
          type="text" 
          class="form-control" 
          id="fullName" 
          placeholder="Digite o seu nome completo aqui"
          formControlName="fullName">

        </div>

        <!-- mensagens validação nome completo -->
        <app-form-message-validate  
          *ngIf="formCadastro.get('fullName').errors?.required" 
          text="Nome completo obrigatório">
        </app-form-message-validate>

        <app-form-message-validate  
          *ngIf="formCadastro.get('fullName').errors?.minlength" 
          text="Nome completo deve conter pelo menos 10 caracteres">
        </app-form-message-validate>

        <app-form-message-validate  
          *ngIf="formCadastro.get('fullName').errors?.maxlength" 
          text="Nome completo deve conter no máximo 50 caracteres">
        </app-form-message-validate>

    </div>

    <!-- login -->
    <div class="form-group">
      <label for="shortName">Digite o seu nome para cadastro:</label>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white">
              <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </div>
        <input 
          type="text" 
          class="form-control" 
          name="shortName"
          id="shortName" 
          placeholder="Digite o seu nome aqui"
          formControlName="shortName">
      </div>

      <!-- mensagens validação nome -->
      <app-form-message-validate
        *ngIf="formCadastro.get('shortName').errors?.required" 
        text="Nome obrigatório">
      </app-form-message-validate>

      <app-form-message-validate
        *ngIf="formCadastro.get('shortName').errors?.minlength" 
        text="O nome deve conter pelo menos 2 caracteres">
      </app-form-message-validate>

      <app-form-message-validate
        *ngIf="formCadastro.get('shortName').errors?.maxlength" 
        text="O nome deve conter no máximo 15 caracteres">
      </app-form-message-validate>

      <app-form-message-validate
        *ngIf="formCadastro.get('shortName').errors?.lowerCase" 
        text="O nome não deve conter letras maiúsculas">
      </app-form-message-validate>
    </div>

    <!-- senha -->
    <div class="form-group">
      <label for="password">Digite a sua senha para cadastro:</label>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white">
              <i class="fa fa-key" aria-hidden="true"></i>
          </span>
        </div>
        <input 
          type="password" 
          class="form-control" 
          id="password" 
          placeholder="Digite a sua senha aqui"
          formControlName="password">
      </div>

      <!-- mensagens validação senha -->
      <app-form-message-validate
        *ngIf="formCadastro.get('password').errors?.required" 
        text="Senha obrigatória">
      </app-form-message-validate>

      <app-form-message-validate
        *ngIf="formCadastro.get('password').errors?.minlength" 
        text="A senha deve conter pelo menos 3 caracteres">
      </app-form-message-validate>

      <app-form-message-validate
        *ngIf="formCadastro.get('password').errors?.maxlength" 
        text="A senha deve conter pelo menos 10 caracteres">
      </app-form-message-validate>
    </div>
  </fieldset>
  
  <fieldset>
      <button 
        type="submit" 
        class="btn btn-outline-primary btn-block"
        [disabled]="formCadastro.invalid">
          Cadastrar
      </button>

      <small>
        ou
        <a 
          class="text-primary"
          [routerLink]="['']">
          Fazer login
        </a>
      </small>
  </fieldset>
</form>
  