<ul class="list-unstyled">
  <li 
    class="row"
    *ngFor="let cards of grid" >
    <div 
      class="col-sm-12 col-md-6 col-lg-3 mb-4"
      *ngFor="let card of cards" >
      <app-card-base
        [url]="card.url"
        [description]="card.description">

        <!-- comments -->
        <a [routerLink]="['detail', card.id]">
          <app-card-comments
            [likes]="card.likes"
            [comments]="card.comments">
          </app-card-comments>
        </a>

        <div>
          <a 
            class="btn btn-info btn-block"
            role="button"
            href=""
            [routerLink]="['detail', card.id]">
            Visualizar
          </a>
        </div>
      </app-card-base>
    </div>
  </li>
</ul>