<form 
  class="row"
  [formGroup]="formAddCard">
  <fieldset class="col-sm-12 col-lg-6">
    <div class="form-group">
        <label for="photo" class="btn-block">
            Escolha uma foto para o novo card: 
            <small>(Obrigatório)</small>
        </label>

        <div *ngIf="!preview; else showPreview">
          <button 
            type="button" 
            class="btn btn-primary"
            (click)="iconFile.click()">
              <i class="fa fa-picture-o fa-3x" aria-hidden="true"></i>
          </button>

          <input 
            #iconFile
            hidden
            type="file" 
            name="photo" 
            id="photo" 
            class="form-control" 
            accept="image/*"
            formControlName="photo"
            (change)="fileEvent($event.target.files[0])">

          <app-form-message-validate
            *ngIf="formAddCard.get('photo').errors?.required"
            text="Imagem obrigatória">
          </app-form-message-validate>
        </div>

        <ng-template #showPreview>
          <app-card-base
            [url]="preview"
            alt="Visualização da imagem"
            title="Visualização da imagem">
          </app-card-base>
        </ng-template>
    </div>
  </fieldset>
  
  <fieldset class="col-sm-12 col-lg-6">
    <div class="form-group">
      <label for="description">
        Coloque uma descrição para o novo card: 
        <small>(Obrigatório)</small>
      </label>

      <textarea 
        name="description" 
        id="description" 
        class="form-control"
        formControlName="description">
      </textarea>

      <app-form-message-validate
        *ngIf="formAddCard.get('description').errors?.required"
        text="Descrição obrigatória">
      </app-form-message-validate>

      <app-form-message-validate
        *ngIf="formAddCard.get('description').errors?.maxlength"
        text="A descrição não deve conter mais de 50 caracteres">
      </app-form-message-validate>
    </div>

    <div class="form-group">
      <label for="comments" class="align-middle mr-3">Deseja permitir comentários nesse card?</label>
      <input 
        checked
        type="checkbox" 
        name="comments" 
        id="comments" 
        formControlName="comments" />
    </div>

    <div class="form-group">
      <button 
        type="submit" 
        class="btn btn-info btn-block"
        [disabled]="formAddCard.invalid">
          Gravar
        </button>
    </div>

  </fieldset>
</form>
