<section class="mb-4">
  <header class="text-center">
    <h3 class="text-muted">
      Faça o seu login
    </h3>
  </header>
</section>
  
<form
  [formGroup]="formLogin"
  (submit)="login($event)"
  #form="ngForm">
  <fieldset>
    <!-- login -->
    <div class="form-group">
      <label for="userName">Digite o seu nome para entrar na aplicação:</label>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white">
              <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </div>
        <input 
          type="text" 
          class="form-control" 
          id="userName" 
          name="userName"
          placeholder="Digite o seu nome aqui"
          formControlName="userName">
        </div>

        <!-- mensagens validação -->
        <app-form-message-validate
          *ngIf="formLogin.get('userName').errors?.required && form.submitted" 
          text="Nome obrigatório">
        </app-form-message-validate>

        <app-form-message-validate
          *ngIf="formLogin.get('userName').errors?.minlength && form.submitted" 
          text="O nome deve conter pelo menos 2 caracteres">
        </app-form-message-validate>

        <app-form-message-validate
          *ngIf="formLogin.get('userName').errors?.maxlength && form.submitted" 
          text="O nome deve conter no máximo 15 caracteres">
        </app-form-message-validate>
    </div>

    <!-- senha -->
    <div class="form-group">
      <label for="password">Digite a sua senha para entrar na aplicação:</label>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text bg-info text-white">
              <i class="fa fa-key" aria-hidden="true"></i>
          </span>
        </div>
        <input 
          type="password" 
          class="form-control" 
          name="password"
          id="password" 
          placeholder="Digite a sua senha aqui"
          formControlName="password">
      </div>

      <!-- mensagens validação -->
      <app-form-message-validate
        *ngIf="formLogin.get('password').errors?.required && form.submitted" 
        text="Senha obrigatória">
      </app-form-message-validate>

      <app-form-message-validate
        *ngIf="formLogin.get('password').errors?.minlength && form.submitted" 
        text="A senha deve conter no mínimo 3 caracteres">
      </app-form-message-validate>

      <app-form-message-validate
        *ngIf="formLogin.get('password').errors?.maxlength && form.submitted" 
        text="A senha deve conter no máximo 10 caracteres">
      </app-form-message-validate>
    </div>
  </fieldset>
  
  <fieldset>
      <button 
        type="submit" 
        class="btn btn-outline-primary btn-block">
            Entrar
      </button>
      <small>
        ou
        <a 
          class="text-primary"
          [routerLink]="['user/new']">
          Fazer cadastro
        </a>
      </small>
  </fieldset>
</form>

<section 
  class="alert alert-danger text-center mt-4" 
  role="alert"
  *ngIf="erroLogin" >
    Login ou senha inválidos
</section>