<div class="mb-3 mt-3 row">
  <div class="col pr-0">
    <i (click)="fn.next($event)" class="fa fa-heart-o fa-2x text-danger" aria-hidden="true"></i>
    <span class="align-text-bottom text-secondary mr-2">
        {{ likes }}
    </span>

    <i class="fa fa-comment-o fa-2x text-primary" aria-hidden="true"></i>
    <span class="align-text-bottom text-secondary">
        {{ comments }}
    </span>
  </div>

  <ng-content select=".icon-trash"></ng-content>
</div>

<ng-content select=".content"></ng-content>
