<section class="container bg-light pt-2 rounded">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-8">
        <h1>
          <figure>
            <img 
              class="img-fluid"  
              src="../../../../../assets/img/imagem-destaque-home.png" 
              alt="Imagem destaque da paǵina inicial"
              title="Imagem destaque da página inicial">
          </figure>
        </h1>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4">
        <router-outlet></router-outlet>
      </div>
    </div>
</section>